@font-face {
  font-family: "OrticaLinear";
  src: url("../fonts/Orticalinear/OrticaLinear-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OrticaLinear";
  src: url("../fonts/Orticalinear/OrticaLinear-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OrticaLinear";
  src: url("../fonts/Orticalinear/OrticaLinear-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OrticaAngular";
  src: url("../fonts/Orticalinear/OrticaAngular-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
